<h1 mat-dialog-title>
  Employee Form
</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput type="text" placeholder="Ex. Gustavo" formControlName="firstName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Ex. Rocha" formControlName="lastName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Ex. gustavo@email.com" formControlName="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Give your best email</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-radio-group aria-label="Select an option" formControlName="gender">
      <mat-label>Gender</mat-label>
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="others">Others</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Education</mat-label>
      <mat-select formControlName="education">
        <mat-option *ngFor="let val of education" [value]="val"> {{val}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Company</mat-label>
      <input matInput type="text" placeholder="Ex. Google" formControlName="company">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Package</mat-label>
      <input matInput type="number" type="text" placeholder="Ex. 12" formControlName="package">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>In rupees</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Experience</mat-label>
      <input matInput type="number" type="text" placeholder="Ex. 4" formControlName="experience">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="action">
  <button type="button" mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button type="submit" mat-raised-button mat-dialog-close cdkFocusInitial color="primary" > {{data ? 'Update' : 'Save'}} </button>
</div>
</form>
